* {
  margin: 0;
  padding: 0;
}

.head {
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  z-index: 999;
}

.head p {
  color: #fff;
}

#chess-user {
  color: yellow;
}

canvas {
  background: #eae1ce;
}

#chess-canvas {
  position: absolute;
  top: 0;
  background: none;
}

button[type=button] {
  color: #fff;
  border: none;
  outline: none;
  line-height: 30px;
  padding: 0 10px;
}

.revert {
  background: #ff562f;
}

.revert[disabled] {
  background: #ffb39b;
}

.reset {
  background: #1487ff;
  margin-right: 20px;
}

.reset[disabled] {
  background: #76dbff;
}

.hide {
  z-index: -1;
}

.show {
  z-index: 99;
}

.notice-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.notice-mask .notice {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  width: 50%;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.notice-mask.show .notice {
  background: rgba(255, 255, 255, .9);
  border-radius: 10px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-group {
  margin: 20px 0;
}

.input-num {
  font-size: 14px;
  line-height: 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #999;
  width: 70%;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-blue {
  width: 100%;
  background: orange;
}

.btn-green {
  width: 30%;
  height: 30px;
  margin-top: 1px;
  background-color: forestgreen;
  color: #fff;
}

.pull-left {
  float: left;
}

.clearfix {
  display: table;
  clear: both;
  zoom: 1;
}

#warning-message.hide,
#success-message.hide {
  display: none;
}

#warning-message,
#success-message {
  color: orangered;
  font-size: 12px;
  margin-bottom: 15px;
}

#success-message {
  color: forestgreen;
}
